**STRUKTUR DATA TUPLE**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [2]:
#Contoh Tuple
T1= (1, "dua", True, 1+2j)
print('Ini adalah Tuple ', T1)

Ini adalah Tuple  (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan type struktur dara
type(T1)

tuple

**Sifat-Sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2] = 'manusia'

TypeError: ignored

In [ ]:
#Dapat diindeks/Slicing
print('elemen kedua dari tuple T1 adalah ', T1[1])

elemen kedua dari tuple T1 adalah  dua

In [3]:
#Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
T1 = (1, 'dua', True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#Tidak dapat menghapus elemen
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

**Menggabungkan Tuple**

In [4]:
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**LATIHAN**

In [8]:
TU = ('satu', 2, 2.5, False)
TUP = (2.5, 1+7j, 'PYTHON')
TUPLE = TU + TUP
TUPLE

('satu', 2, 2.5, False, 2.5, (1+7j), 'PYTHON')

**STRUKTUR DATA LIST**

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. bedanya, elemen List pada Prthon tidak narus memiliki tipe data vang sama. Mendeklarasikan list cukup mudah dengan kurung siku dan elemen vang dipisahkan dengan koma
Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [9]:
#Contoh LIST
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [10]:
L2 = ['a', 'Python', 3]
type(L2)

list

In [11]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Indeks dalam python baik list atau tuple dimulai dari 0

**Sifat-sifat List**

In [12]:
#Terurut ( Ordered )
print('memanggil L1 dengan indeks urutan: ', L1[0:3])

memanggil L1 dengan indeks urutan:  [1, 4, 2]

In [13]:
#Bisa diganti ( mutable )
L1[1] = 2
print('List 1 setelah diganti elemennya', L1)

List 1 setelah diganti elemennya [1, 2, 2, 13]

In [14]:
#Dapat diindeks ( Slicing )
L1 = [1, 'dua', True, 2+3j]
print('Slicing list L1: ', L1[3])

Slicing list L1:  (2+3j)

In [15]:
#Dapat diijinkan duplikasi
L1 = [1, 'dua', True, 2+3j, 2+3j]
print('Duplikasi pada list L1 :', L1)

Duplikasi pada list L1 : [1, 'dua', True, (2+3j), (2+3j)]

In [16]:
#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, 'dua', True, 2+3j]
L1[2]= 3
print('Data setelah diubah : ', L1)

Data setelah diubah :  [1, 'dua', 3, (2+3j)]

In [17]:
#Dapat menambahkan elemen baru pada data
L1 = [1, 'dua', True, 2+3j]
L1.append(20)
print('Data setelah ditambahkan elemennya: ', L1)

Data setelah ditambahkan elemennya:  [1, 'dua', True, (2+3j), 20]

In [18]:
#Dapat menghapus elemen pada data
L1 = [1, 'dua', True, 2+3j]
L1.remove(2+3j)
print('Data setelah dihapus elemennya: ', L1)

Data setelah dihapus elemennya:  [1, 'dua', True]

In [19]:
#Menambahkan data dengan menggunakan fungsi extend (menambahkan elmen baru pada list namun elemen tersebut ditambahkan secara individual)
L1 = [1, 'dua', True, 2+3j]
L1.extend('nanas')
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [21]:
L1 = [1, 'dua', True, 2+3j]
L1.extend(['nanas'])
L1

[1, 'dua', True, (2+3j), 'nanas']

In [22]:
#Menambahkan data menggunakan insert (menambahkan elemen baru pada list dengan indeks tertentu)
L1 = [1, 'dua', True, 2+3j]
L1.insert(2,5)
L1

[1, 'dua', 5, True, (2+3j)]

In [23]:
#Menghapus elemen pada list dengan menggunakan fungsi pop (menghapus berdasarkan indeks)
L1 = [1, 'dua', True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [24]:
L1 = [1, 'dua', True, 2+3j]
L1.pop()
L1

[1, 'dua', True]

**Latihan**

In [26]:
A = ['Math', 'Bio', 'Fisika', 'SI']
print(A)

['Math', 'Bio', 'Fisika', 'SI']

In [25]:
A = ['Math', 'Bio', 'Fisika', 'SI']
A[0]= 'Matematika'
print('List A setelah diganti elemennya adalah: ', A)

List A setelah diganti elemennya adalah:  ['Matematika', 'Bio', 'Fisika', 'SI']