<a href="https://colab.research.google.com/github/Ilianadewinta/PSDS-05/blob/main/Tugas_7_PSDS_Perulangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Iliana Dewinta

NIM : 2100015054

# Looping/Perulangan

Python menyediakan 2 statement yaitu for and while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while

## For Loop

Perulangan for digunakan untuk melakukan iterasi di dalam sequence seperti list, tuple, string, dan array atau objek yang dapat diiterasi lainnya.

For Loop Syntax
```
for val in sequence :
  loop body
  ```

For loop Flowchart

![images.jpeg]()

In [1]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 =[2,4,5,6,9]
jumlah = 0

# Iterasi dalam list
for i in L1:
  jumlah = jumlah+i
  print(jumlah)

2
6
11
17
26

In [2]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 =[2,4,5,6,9]
jumlah = 0

# Iterasi dalam list
for i in L1:
  jumlah = jumlah+i
print(jumlah)

26

### The range() function

In [ ]:
#Program untuk melakukan iterasi di dalam list melalui indeks
minuman =["teh","boba","kopi","susu"]
p = len(minuman)

#iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

### For loop with else

In [ ]:
#contoh for loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

### Latihan 1

Diberikan list_tagihan. Kamu diminta untuk menghitung jumlah seluruh tagihan.

Gunakan looping for untuk menyelesaikan tugas ini. Simpan hasilnya pada variabel total_tagihan

In [5]:
list_tagihan =[2000,5000,6000,7000,10000]
total = 0

# Iterasi dalam list
for i in list_tagihan:
  total = total+i
print('Jumlah tagihan sebesar  ',total, 'rupiah')

Jumlah tagihan sebesar   30000 rupiah

## While Loop

while loop pada python digunakan untuk melakukan iterasi pada blok kode selama nilai dari test expression adalah true.

**Syntax of while loop in python**
```
while test_expression:
  Body of while
  ```

While Loop Flowchart

![image.png]()

In [ ]:
# program untuk menjumlahkan semua bilangan asli hingga suku ke-n
# jum=1+2+3+...+n

n=10
jumlah = 0
i = 1

while i<= n:
  jumlah = jumlah+i
  i=i+1
print(jumlah)

55

In [ ]:
while i<= n:
  jumlah = jumlah+i
  i=i+1
  print(jumlah)

### While loop with else

sama dengan for loop kita juga dapat mengkombinasikan while dengan blok else.
bagian else akan dieksekusi jika nilai pada test expression pada while loop bernilai false. perhatikan contoh berikut:

In [ ]:
jum = 0
i = 1

while i <= n :
  jum = jum+i
  i = i+1
else :
  print(jum) #dieksekusi diluar looping

### Latihan 2

diberikan list tagihan hitunglah total_tagihan menggunakan while loop

tagihan =[50000,75000,125000,300000,200000]

In [6]:
tagihan = [50000, 75000, 125000, 300000, 200000]

total_tagihan = 0

# Menghitung tagihan menggunakan while loop
i = 0
while i < len(tagihan):
    total_tagihan += tagihan[i]
    i += 1

# Menampilkan total tagihan
print("Total tagihan sebesar ", total_tagihan, 'rupiah')

Total tagihan sebesar  750000 rupiah

# Percabangan / Struktur Pemilihan

Pada bagian ini kamu akan membuat keputusan pada bahasa pemrograman python menggunakan struktur percabangan/ branching. dengan menggunakan IF ELSE statement. Pengambilan keputusan dibutuhkan ketika kamu akan mengeksekusi suatu kode jika sebuah kondisi tertentu dipenuhi.

statement if . . elif . . else digunakan pada bahasa python untuk mengambil keputusan.

## If Statement

**Python if statement syntax**
````
if test_expression:
  statemengt(s)

````

**Python If Statement Flowchart**


![image.png]()

In [ ]:
#Jika angka adalah bilangan positif maka print "adalah bilangan positif"

angka = 3
if angka > 0:
  print(angka, "adalah bilangan positif")
print("pernyataan ini selalu ditampilkan")

angka = -1
if angka > 0:
  print(angka, "adalah bilangan positif")
print("pernyatan ini juga selalu ditampilkan")

3 adalah bilangan positif
pernyataan ini selalu ditampilkan
pernyatan ini juga selalu ditampilkan

## If Else Statement

**python if else statement syntax**
```
if test expression:
    body of if
else:
    body of else
```

Python if else statement flowchart

![download.png]()

In [ ]:
# Program disusun untuk mengecek apakah angka tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3
if angka >= 0:
  print("bilangan lebih dari atau sama dengan 0")
else:
  print("bilangan kurang dari 0")

bilangan lebih dari atau sama dengan 0

In [ ]:
#Program disusun untuk mengecek apakah dua buah angka sama atau tidak
#dan menampilkan tulisan yang sesuai

a=5
b=5

if a==b :
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")
  print("belajar if else")
print("belajarrrrrrr")

a dan b bernilai sama
belajarrrrrrr

In [ ]:
#Program disusun untuk mengecek apakah dua buah angka sama atau tidak
#dan menampilkan tulisan yang sesuai

a=5
b=3

if a==b :
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")
  print("belajar if else")

a dan b bernilai berbeda
belajar if else

In [ ]:
#program disusun untuk mengecek perbandingan dua buah angka
#dan menampilkan tulisan yang sesuai

#membaca dua angka
bil1 = int(input("masukan bilangan pertama:"))
bil2 = int(input("masukan bilangan kedua :"))

#memilih bilangan yang lebih besar
if bil1>bil2:
  bil_lebih_besar = bil1
else :
  bil_lebih_besar = bil2
#menampilkan hasil
  print("bilangan yang lebih besar adalah :",bil_lebih_besar)
print("bilangan yang lebih besar adalah :",bil_lebih_besar)

masukan bilangan pertama:4
masukan bilangan kedua :3
bilangan yang lebih besar adalah : 4

In [ ]:
#program disusun untuk mengecek perbandingan dua buah angka
#dan menampilkan tulisan yang sesuai

#membaca dua angka
bil1 = int(input("masukan bilangan pertama:"))
bil2 = int(input("masukan bilangan kedua :"))

#memilih bilangan yang lebih besar
if bil1>bil2:
  bil_lebih_besar = bil1
else :
  bil_lebih_besar = bil2
#menampilkan hasil
  print("bilangan yang lebih besar adalah :",bil_lebih_besar)
print("bilangan yang lebih besar adalah :",bil_lebih_besar)

masukan bilangan pertama:7
masukan bilangan kedua :18
bilangan yang lebih besar adalah : 18
bilangan yang lebih besar adalah : 18

## IF ELIF ELSE Statements

**python if elif else statement syntax**

```
if test expression:
  body of if
elif text expression:
  body of elif
else:
  body of else
  ```
**python if elif else statement**
![image.png]()

In [ ]:
#Program ini disusun untuk mengecek apakah angka merupakan bilangan positif, negatif, atau nol
#dan menampilkan tulisan yang sesuai

angka = 4
if angka > 0:
  print("bilangan positif")
elif angka==0:
  print("NOL")
else :
  print("bilangan negatif")

bilangan positif

In [ ]:
#Statement if
x = 4
if x%2 == 0 : #jika x dibagi 2 sisanya sama dengan 0
  print("x habis dibagi 2")

#statement if ... elif ... else
x=7
if x %2 == 0: #jika x dibagi dua sisanya sama dengan 0
  print("x habis dibagi dua")
elif x%3 == 0: #jika x dibagi 3 sisanya sama dengan 0
  print("x habis dibagi tiga")
elif x % 5 == 0: #jika x dibagi 5 sisanya sama dengan 0
  print("x habis dibagi lima")
else :
  print("x tidak habis dibagi dua, tiga atau lima")

x habis dibagi 2
x tidak habis dibagi dua, tiga atau lima

## Nasted If Statement

In [ ]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau nol
#dan menampilkan tulisan yang sesuai

angka = float(input("massukan angka :"))
if angka >= 0:
  if angka ==0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("bilangan negatif")

massukan angka :7
Bilangan Positif

In [ ]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau nol
#dan menampilkan tulisan yang sesuai

angka = float(input("massukan angka :"))
if angka >= 0:
  if angka ==0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("bilangan negatif")

massukan angka :-7
bilangan negatif

In [ ]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau nol
#dan menampilkan tulisan yang sesuai

angka = float(input("massukan angka :"))
if angka >= 0:
  if angka ==0:
    print("Nol")
  else:
    print("Bilangan Positif")
else:
  print("bilangan negatif")

massukan angka :0
Nol

### Latihan 3

Buatlah sebuah fungsi "mahal_diskon" dengan ketentuan:



*   Input berupa data harga produk dengan tipe data numerik tunggal
*   Kategori input adalah "murah" dan "mahal", kemudian diskon ada 3 kategori "10 %", "20%", dan "40%"
*   Output pertama sebuah teks/string yang menyatakan "mahal" atau "murah" dan keterangan "kamu dapat diskon..."
*   Output kedua adalah harga yang perlu dibayarkan

In [10]:
def mahal_diskon (harga):
  if harga > 100000 :
    diskon = (40/100)*harga
    print ('Harga Mahal. Anda mendapatkan diskon sebesar : ', diskon)
  elif harga > 50000 :
    diskon = (20/100)*harga
    print ('Harga Mahal. Anda mendapatkan diskon sebesar :' , diskon)
  else :
    diskon = (10/100)*harga
    print ('Harga Murah. Anda mendapatkan diskon sebesar : ', diskon)
  total = harga - diskon
  print('Total yang harus dibayarkan adalah sebesar :', total)

#Contoh penggunaan fungsi
mahal_diskon (200000)

Harga Mahal. Anda mendapatkan diskon sebesar :  80000.0
Total yang harus dibayarkan adalah sebesar : 120000.0

In [11]:
mahal_diskon (30000)

Harga Murah. Anda mendapatkan diskon sebesar :  3000.0
Total yang harus dibayarkan adalah sebesar : 27000.0